extends layout

block content
  h1= title
  - let items= results;
  div(class="container-fluid") 
    div(class="row m-1") 
      each item in items  
        - let destination = `dispatch(\"/balls/update?id=${item._id}\")` 
        div(class="row-sm-2", class="m-1") Item #{item.color}(#{item.price}) is #{item.weight} 
          button.btn( class="btn-primary ml-1", onclick= destination) Update 
   
  script. 
    function dispatch(path){ 
      window.location.href=path 
    } 
  br
  - var results1 = [{color:"white", price:7, weight:20},{color:"yellow", price:10, weight:55.7},{color:"blue", price:8, weight:43}];

   div(class = "container-fluid")
    div(class = "row")
     each i,index in results1
        div(class="col-sm-4" onclick=`buy(${index})`) color: #{i.color} 
        br
        br 
        div(class="col-sm-4" onclick=`buy(${index})`) price: #{i.price}
        br
        br  
        div(class="col-sm-4" onclick=`buy(${index})`) weigth: #{i.weight}
        script.
                function buy(itemNo){
                    alert(`You purchased item ${itemNo+1}`)
                }
